---
import AstroIsland from "./astro/AstroIsland.astro";
import { ReactIsland } from "./react/ReactIsland";
import { SolidIsland } from "./solid/SolidIsland";

import GithubIcon from "./components/GithubIcon.astro";
import DeveserIcon from "./components/DeveserIcon.astro";

import "./styles/index.css";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body class="custom-scroll">
		<main>
			<DeveserIcon />
			<GithubIcon />

			<div class="header-description">
				<h1><span>Clean</span> Astro</h1>
				<p>
					Welcome to the clean Astro project!
					<br />
					This project is a simple example of how to use Astro with different client-side
					<br />
					frameworks using Clean Architecture principles and Custom Hooks as a UI
					pattern.
				</p>
			</div>

			<div class="islands__container">
				<AstroIsland />

				<ReactIsland client:only="react" />

				<SolidIsland client:only="solid-js" />
			</div>
		</main>
	</body>
</html>
