---

---

<div>
	<h3>AstroIsland</h3>
	<div id="counter">0</div>
	<button id="increment">Increment</button>
</div>

<script>
	const counter = document.getElementById("counter")!;
	const increment = document.getElementById("increment")!;

	increment.addEventListener("click", () => {
		counter.textContent = `${parseInt(`${counter.textContent}`) + 1}`;
	});
</script>
