---

---

<a href="https://deveser.net" class="deveser-icon" target="_blank">
  <img src="/images/deveser.png" alt="Deveser Icon" class="deveser-icon" />
</a>

<style>
  .deveser-icon {
    position: absolute;
    top: 0.6rem;
    right: 0.5rem;
    z-index: 1000;
    width: 2rem;
    height: 1.7rem;
    transition: all 0.3s;

    &:hover {
      -webkit-filter: drop-shadow(0 0 5px #ffffff25);
      filter: drop-shadow(0 0 5px #ffffff25);
    }
  }
</style>
